In [ ]:
# Python BMI Calculator Coding Challenge

In [22]:
import re
import os
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import os as os
import json

In [27]:
### Set wd
path="C:/BMI"
os.chdir(path)

In [32]:
# Read JSON data into python
import json
with open('BMI.json', 'r') as datafile:
    data = json.load(datafile)

In [33]:
BMI_df = pd.DataFrame(data)

In [34]:
BMI_df.shape

(6, 3)

In [35]:
BMI_df

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

In [39]:
BMI_df["BMI"] = (BMI_df["WeightKg"]/(BMI_df["HeightCm"]/100)**2).round(2)

In [40]:
BMI_df

   Gender  HeightCm  WeightKg    BMI
0    Male       171        96  32.83
1    Male       161        85  32.79
2    Male       180        77  23.77
3  Female       166        62  22.50
4  Female       150        70  31.11
5  Female       167        82  29.40

In [42]:
# create a list of our conditions
conditions = [
    (BMI_df["BMI"] < 18.4),
    (BMI_df["BMI"] >= 18.5) & (BMI_df["BMI"] < 25),
    (BMI_df["BMI"] >= 25) & (BMI_df["BMI"] < 30),
    (BMI_df["BMI"] >= 30) & (BMI_df["BMI"] < 35),
    (BMI_df["BMI"] >= 35) & (BMI_df["BMI"] < 40),
    (BMI_df["BMI"] >= 40)    
    ]

# create a list of the values we want to assign for each condition
values1 = ['Underweight', 'Normal weight', 'Overweight','Moderately obese', 'Severely obese','Very severely obese']
values2 = ['Malnutrition risk', 'Low risk', 'Enhanced risk','Medium risk', 'High risk','Very high risk']

BMI_df['BMI_Category'] = np.select(conditions, values1)
BMI_df['Health_risk']  = np.select(conditions, values2)
BMI_df

   Gender  HeightCm  WeightKg    BMI      BMI_Category    Health_risk
0    Male       171        96  32.83  Moderately obese    Medium risk
1    Male       161        85  32.79  Moderately obese    Medium risk
2    Male       180        77  23.77     Normal weight       Low risk
3  Female       166        62  22.50     Normal weight       Low risk
4  Female       150        70  31.11  Moderately obese    Medium risk
5  Female       167        82  29.40        Overweight  Enhanced risk